<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#= this.reflected ? this.reflection_macro + "\r\n" : ""
#><#= this.type_keyword #> <#= (this.export ? this.module_name + "_API " : "") + this.type_name #><#= TTHelpers.StringBefore(" : public ", this.base_class) #>
{
<# if (reflected) { #>
	GENERATED_BODY()

<# } #>
public:
	<#= type_name #>();
};
